<nav>
    <div class="navbar" id="nav">
        <div>
            <h4> <a href="/"> ABIOLLAGH JAMES </a> </h4>
        </div>
        <div>
            <a href="/"> HOME </a>
            <a href="#about"> ABOUT </a>
            <a href="#projects"> PROJECTS </a>
            <a href="#contact"> CONTACT </a>
        </div>
    </div>
</nav>