<div class="projects" id="projects">
    <h1> PROJECTS </h1>
    <p>
        Here you will find some of the projects I have worked on with each project containing <br>
        a brief description, technologies used and a Github or live link of the project.
    </p>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/finddev.PNG">
        </div>
        <div id="project-col">
            <h2> FindDev API </h2>
            <p>
                FindDev is a comprehensive Developers API, offering a wealth of
                information about talented developers worldwide. Whether you are seeking a skilled
                collaborator, diverse expertise, or simply expanding your network,
                FindDev is your gateway to a truly global developer community.
                This API came to life by employing technologies such as; <strong>NodeJS</strong> which allows
                execution of JavaScript outside the Browser, <strong>ExpressJS</strong> for creating server and HTTP methods
                routing, <strong>MongoDB</strong> for storage, retrieval and querying of Data, <strong>HTML</strong>, <strong>CSS</strong>
                and <strong>JavaScript</strong> for rendering, styling and adding functionalities to Web pages.
            </p>
            <a href="https://github.com/AbiollaghJames/FindDev" target="_blank"><button> Live Link </button></a>
        </div>
    </div>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/airbnb.PNG">
        </div>
        <div id="project-col">
            <h2> AirBnB Clone </h2>
            <p>
                This is an implementation to mirror the AirBnB's global platform, encompasing accomodations
                and travelers features.Through collaboration with peers from Holberton School of Software Engineering,
                I developed teamwork and collaboration skills essential for a successful Software Engineer.
                We utilized technologies such as; <strong>HTML</strong>, <strong>CSS</strong> and <strong>JavaScript</strong>
                for rendering, styling and adding functionalities to the website, We used <strong>Flask</strong> to
                develop the back-end of this platform, and for storage, retrieval and querrying of data, we used <strong>MySQL</strong>.
            </p>
            <a href="https://github.com/AbiollaghJames/AirBnB_clone_v3" target="_blank"><button> Live Link </button></a>
        </div>
    </div>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/xclone.PNG">
        </div>
        <div id="project-col">
            <h2> X-Clone </h2>
            <p>
                Collaborated on a team of two Developers to build X clone (formely Twitter), focusing
                on core functionalities. We proficiently utilized collaboration tool, Trello, acquired skills in scripting and web
                hosting for scalable applications.
                I further gained more expertise in diverse technology stack including; <strong>Flask</strong>, <strong>HTML</strong>,
                <strong>CSS</strong>, <strong>JavaScript</strong>, <strong>MySQL</strong> and <strong>Nginx</strong>, for back-end, front-end,
                storage and web hosting.
            </p>
            <a href="https://github.com/Obony/X-clone" target="_blank"><button> Live Link </button></a>
        </div>
    </div>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/shell.PNG">
        </div>
        <div id="project-col">
            <h2> Simple Shell </h2>
            <p>
                This is a simple UNIX command line interpreter that I developed in <strong>C</strong> programming
                language. It is a mimic of the Bash Shell with basic commands like ls, mkdir, touch among others.
                It is run by first cloning the github repository, then you run ./hsh.
            </p>
            <a href="https://github.com/AbiollaghJames/simple_shell" target="_blank"><button> Live Link </button></a>
        </div>
    </div>
</div>