<footer class="footer">
    <div class="footer-cols">
        <div id="column">
            <h1>ABIOLLAGH JAMES</h1>
            <p>
                A Backend focused Developer building the Backend of Websites
                and Web Applications that leads to the success of the overall
                product.
            </p>
        </div>
        <div id="column">
            <h1>SOCIAL</h1>
            <a href="https://www.linkedin.com/in/abiollagh-james-148608270/" target="_blank"> <img src="./img/linkedin-ico.png"> </a>
            <a href="https://github.com/AbiollaghJames" target="_blank"> <img src="./img/github-ico.png"> </a>
            <a href="https://www.youtube.com/channel/UCFrS9zcc7nJptF-rKaqCTpQ" target="_blank"> <img src="./img/yt-ico.png"> </a>
            <a href="https://twitter.com/AbiollaghJ" target="_blank"> <img src="./img/twitter-ico.png"> </a>
        </div>
        <hr style="width: 80%; margin-top: 20px;" />
    </div>
    <div class="footer-p">
        <p> @ Copyright 2024. Made by <a href="/" style="text-decoration: none; color: white;"> AbiollaghJames </a> </p>
    </div>
</footer>