<div class="contact">
    <h1>CONTACT</h1>
    <p style="margin-bottom: 100px;"> Feel free to Contact me by submitting the form below and I will get back to you as soon as possible </p>

    <div class="contact-form">
        <form method="post">
            <div class="form-field">
                <label>Name</label>
                <input required placeholder="Enter your Name" type="text" id="name" />
            </div>
            <div class="form-field">
                <label>Email</label>
                <input required placeholder="Enter your Email" type="text" id="email" />
            </div>
            <div class="form-field">
                <label>Message</label>
                <textarea required cols="30" rows="10" placeholder="Enter your Message" id="message"></textarea>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>