<div class="projects">
    <h1> PROJECTS </h1>
    <p>
        Here you will find some of the projects I have worked on with each project containing <br>
        a brief description, technologies used and a Github or live link of the project.
    </p>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/finddev.PNG">
        </div>
        <div id="project-col">
            <h2> FindDev API </h2>
            <p>
                FindDev is a comprehensive Developers API, offering a wealth of
                information about talented developers worldwide. Whether you are seeking a skilled
                collaborator, diverse expertise, or simply expanding your network,
                FindDev is your gateway to a truly global developer community.
                This API came to life by employing technologies such as; <strong>NodeJS</strong> which allows
                execution of JavaScript outside the Browser, <strong>ExpressJS</strong> for creating server and HTTP methods
                routing, <strong>MongoDB</strong> for storage, retrieval and querying of Data, <strong>HTML</strong>, <strong>CSS</strong>
                and <strong>JavaScript</strong> for rendering, styling and adding functionalities to Web pages.
            </p>
            <a href="https://github.com/AbiollaghJames/FindDev"><button> Live Link </button></a>
        </div>
    </div>
    <div class="projects-col">
        <div id="project-col">
            <img src="./img/finddev.PNG">
        </div>
        <div id="project-col">
            <h2> FindDev API </h2>
            <p>
                FindDev is a comprehensive Developers API, offering a wealth of
                information about talented developers worldwide. Whether you are seeking a skilled
                collaborator, diverse expertise, or simply expanding your network,
                FindDev is your gateway to a truly global developer community.
                This API came to life by employing technologies such as; <strong>NodeJS</strong> which allows
                execution of JavaScript outside the Browser, <strong>ExpressJS</strong> for creating server and HTTP methods
                routing, <strong>MongoDB</strong> for storage, retrieval and querying of Data, <strong>HTML</strong>, <strong>CSS</strong>
                and <strong>JavaScript</strong> for rendering, styling and adding functionalities to Web pages.
            </p>
            <a href="https://github.com/AbiollaghJames/FindDev"><button> Live Link </button></a>
        </div>
    </div>
</div>